@{
    ViewData["Title"] = "Hi";
}

<html>

    <head>
        <style>
            html, body {
                margin: 0;
                background-color: #ecf0f1;
                font-family: Arial, sans-serif;
                text-align: center;
            }
            h1 {
                margin-top: 32px;
                font-size: 48px;
            }
            p {
                margin: 0 auto 32px auto;
                font-size: 22px;
                line-height: 2em;
                max-width: 7in;
            }
        </style>
    </head>
    <body>
        <h1>Hi</h1>
        <p>This is a community art project. Submit your own pages/code to this. As long as it's not illegal, malicious code, or breaks github's TOS, it will probably get merged.</p>
        <p>Don't deface other peoples' code - it won't get merged, unless the author is cool with that, I guess</p>
        <p>To contribute, <a href="https://github.com/makeyourownpage/makeyourownpage" target="_blank">submit a pull request on github</a></p>
    </body>
</html>